@import '../main';

.navbar {
  padding: 10px 40px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  &__greeting {
    font-family: PeydaBold;
    font-size: 26px;
    margin-left: auto;
    letter-spacing: 1px;
  }
  &__notification {
    width: 22px;
    height: 22px;
    padding: 3px;
  }
  &__profile {
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 0.5px solid $gray-800;
    border-radius: 50%;
  }
  &__button {
    width: 70px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $violet-900;
    font-family: PeydaBold;
    font-size: 15px;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
  img:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
