@import '../main';

.navbar {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  &__greeting {
    font-family: PeydaBold;
    font-size: 26px;
    margin-left: auto;
    letter-spacing: 1px;
  }
  &__notification {
    width: 22px;
    height: 22px;
  }
  &__profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  img:hover{
    cursor: pointer;
    opacity: 0.9;
  }
}
