@import '../main';

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  &__greeting {
    font-family: PeydaBold;
    font-size: 26px;
    letter-spacing: 1px;
  }
  &__search {
    position: relative;
    input {
      height: 35px;
      border: none;
      border-radius: 20px;
      background-color: $gray-200;
      padding: 0 40px;
      color: $dark-700;
      font-family: PeydaLight;
      &:focus,
      &:active {
        border: none;
      }
      &::placeholder {
        color: rgb(35, 35, 35);
        padding: 4px 0;
      }
    }
    .search-icon {
      position: absolute;
      top: 8%;
      margin-right: 6px;
      font-size: 27px;
      rotate: 90deg;
      color: $dark-700;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: auto;
  }
}

.left {
  &__notification {
    width: 25px;
    height: 25px;
    padding: 3px;
  }
  &__profile {
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 0.5px solid $gray-800;
    border-radius: 50%;
  }
  &__button {
    width: 70px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $violet-900;
    font-family: PeydaBold;
    font-size: 15px;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
  img:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
