@import '../main';

.suggestion-container {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      @include flexCenter();
      align-items: center;
      border-radius: 9px;
      font-size: 10px;
      height: 25px;
      width: 65px;
      background-color: $violet-2000;
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }
  &__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.suggestion-body {
  &__item {
    @include flexCenter(column);
    justify-content: center;
    width: 32%;
    height: 140px;
    background: rgba(73, 6, 104, 0.459);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 6px;
    p {
      font-family: PeydaBold;
      font-size: 24px;
      margin: 0;
      color: $blue-200;
    }
    h2 {
      font-family: PeydaBold;
      font-size: 28px;
      margin: 0;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
