@font-face {
  font-family: Peyda;
  src: url(./assets/fonts/Peyda-Medium.ttf);
}
@font-face {
  font-family: PeydaBold;
  src: url(./assets/fonts/Peyda-Bold.ttf);
}
@font-face {
  font-family: PeydaLight;
  src: url(./assets/fonts/peyda-light.ttf);
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: PeydaLight;
  font-size: 10px;
}
p,
b {
  margin: 0;
}
